<!doctype html>
<html lang="en" class="h-100">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="./css/sticky-footer-navbar.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>Index Form</title>

</head>

<body class="d-flex flex-column h-100">
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Title is here</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/join">회원가입</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="p-2"></div>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <a href="#" class=".a-title">
                    <h3 class="mb-0 title" style="padding-bottom: 10px;">제목</h3>
                </a>
                <p class="card-text mb-auto">이미 지나간 일은 돌아보지 말고,
                    현재에 머물지도 말고, 페이지를 넘기라고
                    지금의 어려움에서 벗어날 수 있는 길은
                    오로지 스스로 페이지를 넘기는 것 뿐이라고
                    페이지를 넘기는 일은
                    그 누구도 대신할 수 없지 않느냐고
                    그리고 그 페이지를 새롭게 써나가라고.

                    앞으로 펼쳐질 아름다운 이야기를
                    써나갈 수 있는 것은 바로 자신이라고.

                    페이지를 넘기는 순간 다시 꿈꿀 수 있고,
                    다시 시작할 수 있고, 다시 뛸 수 있고
                    그리고 고통에서 벗어나
                    꿈을 향해 달려가는 자신을 발견할 수 있다고

                    삶은 뜨거운 것이고
                    살아봐야 삶이 되는 거라고

                    그러니 페이지를 넘기라고.

                </p>
                <div class="mb-1 text-muted" style="padding-top: 15px;">날짜</div>
            </div>
        </div>

    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">© Narang Kim</span>
    </div>
</footer>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>